<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>111</title>
</head>
<body>
	<% include common/header.html %>
	<img src="src/images/pic.jpg" alt="">
	<div id="app"></div>
	<% include common/footer.html %>
</body>
</html>